#logonav{
	width:  6em;
	height: 6em;
	object-fit: contain;
	display: inline;
}
nav{
	align-items: center;
	display: inline;
}
nav li{
	display: inline;
}

.principal{
	box-sizing: 50em 100em;
}
.principal img{
	width: 30em;
	height: 35em;
}